*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(43, 255, 0);
    height: 150px;
    display: flex;
}
.main{
    background-color: rgb(255, 251, 0);
    height: 645px;
}
.footer{
    background-color: rgb(255, 0, 0);
    height: 150px;
}
